# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
*.pth
*.pt
!ml_service/doraemon_shinchan_model.pth

# Datasets
doraemon_shinchan_dataset/
*.webp
*.jpg
*.png
*.jpeg

# Mac
.DS_Store
